body {
  /* background: url("./images/bg2.png") no-repeat center fixed; */
  background-size: cover;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 300px 640px 300px;
  width: 1200px;
  padding-top: 50px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
}

.row {
}

.cell {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell--white {
  background-color: #f6dbb5;
}

.cell--black {
  color: white;
  background-color: #684421;
}

.cell--highlighted {
  background-color: #739341;
}

.cell span {
  position: absolute;
  left: 5px;
  top: 5px;
}

.cell img {
  width: 70px;
  height: 70px;
}

.cell--possible::before {
  position: absolute;
  top: center;
  left: center;
  content: '';
  width: 25px;
  height: 25px;
  background-color: #739341;
  border-radius: 50%;
}

.turns__list {
  list-style: none;
  padding: 0;

  box-sizing: border-box;
}

.turns__item {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.turns__item:nth-child(even) {
  background-color: #e5eaf0;
}

.turns__number {
  margin-right: 15px;
}

.turns__item span {
  margin-right: 10px;
  font-size: 16px;
}

.menu__levels input {
  /* display: none; */
}

.menu__levels {
  display: flex;
  justify-content: space-between;
}

.menu__color {
  display: flex;
  justify-content: space-between;  
}

.menu__levels label {
  display: inline-flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  outline: 2px solid gray;
  width: 35px;
  height: 35px;

  font-weight: bold;
  font-size: 25px;
}

.menu__levels input:checked + label {
  outline-color: orangered;
}

.menu__color label {
  display: inline-flex;
  width: 55px;
  height: 55px;
  outline: 2px solid gray;
  margin-right: 10px;
}

.menu__color input:checked + label {
  outline-color: orangered;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu__wrapper {
  width: 200px;
  margin: 0 auto;
}

.turns h2 {
  margin-top: 0;
  /* text-align: center; */
}

.turns__wrapper {
  width: 200px;
  margin: 0 auto;
}

.menu__wrapper button {
  width: 100%;
  height: 50px;
  background-color: #1a6e8a;
  border: 0;

  font-size: 22px;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}

.menu__wrapper button:hover {
  opacity: 0.9;
}